{
  "extends": [
    "airbnb",
    "react-app",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["prettier", "jsx-a11y"],
  "rules": {
    "import/extensions": [
      "error",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "action": "never",
        "container": "never",
        "reducer": "never",
        "selector": "never"
      }
    ],
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "import/prefer-default-export": 0,
    "import/no-default-export": 1,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.ts",
          "**/*.test.tsx",
          "src/setupTests.ts"
        ]
      }
    ]
  }
}
